.app-subheader > .row {
    height: 100%;
}

.app-header,
.app-subheader {
    padding: 0 50px;
}

.app-header {
    bottom: auto;
    background: white;
    height: auto;
    padding-bottom: 20px !important;
}

.app-subheader {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: auto;
    background: #ffae8d;
    height: 52px;
}

.alert-banner-container {
    position: absolute;
    top: 112px;
    left: 0;
    right: 0;
    background: #f80505e8;
    font-size: 14px;
    padding: 4px 12px;
    text-align: center;
}

.alert-banner-container .link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.d-info {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-top: 20px;
    overflow: visible;
}

.d-info > p {
    overflow: visible;
    white-space: nowrap;
}

.d-logo {
    text-align: center;
    cursor: pointer;
    flex-grow: 0;
    transform: scale(.6);
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.username-wrapper {
    display: flex;
    align-items: center !important;
    justify-content: flex-end;
}

.nav-item {
    font-size: 18px;
    color: #000000;
    background: transparent;
    box-sizing: border-box;
    height: 3rem;
    flex-grow: 1;
    transition: all .08s linear;
    font-weight: 300;
    border: none;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
}

.nav-item.active {
    text-shadow: 1px 0 rgba(0, 0, 0, 0.59), -1px 0 rgba(0, 0, 0, 0.59), 0 1px rgba(0, 0, 0, 0.59), 0 -1px rgba(0, 0, 0, 0.59), 0 0 0;
    border: 3px solid transparent;
}

.nav-item:hover {
    border-bottom-color: black;
}


.nav-item.active:hover {
    /*border: 3px solid black;*/
}

.d-usermenu {
    margin-top: 9px;
    text-align: right;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name--user {
    display: inline-block;
    color: #2A2A2A;
    vertical-align: top;
    font-weight: bold;
    margin: 0px 0px 0px 8px;
    letter-spacing: 1.6px;
    cursor: pointer;
    white-space: break-spaces;
    word-break: break-word;
    text-align: center;
}

.name--user .arrow {
    font-size: 26px;
    color: #46c9d4;
}

.d-sub-left {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.d-sub-left .wrapper {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.name--church {
    color: #fff;
    font-size: 17px;
    letter-spacing: 2.5px;
    vertical-align: middle;
    margin: 3px 3px 0;
}

.notification {
    position: relative;
}

.notification .noti-count-icon-text {
    position: absolute;
    right: 1px;
    top: 5px;
    border-radius: 4em;
    text-align: center;
    background-color: #46c9d4;
    color: #fff;
    font-size: 11px;
    line-height: 13px;
    width: 13px;
    height: 13px;
}

.d-sub-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.d-sub-right .sub-menu {
    letter-spacing: 1.6px;
    color: #fff;
    font-size: 18px;
    display: inline-block;
}

.d-sub-right .sub-menu svg {
    font-size: 27px;
}

.profile-modal,
.menu-modal {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.profile-modal .user--name {
    margin-top: 82px;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 0;
}

.profile-modal .button {
    width: 186px;
    height: 58px;
    margin: 12px;
}

.menu-modal {
    width: 455px;
}

.menu-modal ul {
    padding: 0;
    margin-bottom: 0;
}

.menu-modal li {
    list-style: none;
    padding: 22px 32px;
    font-size: 28px;
    border-bottom: 1px solid #d8d8d8;
    text-align: left;
    cursor: pointer;
}

.menu-modal li > a {
    width: 100%;
    display: flex;
}

.menu-modal li .subp-img {
    width: 40px;
}

.menu-modal li span {
    margin-left: 18px;
    color: black;
    width: 100%;
}

@media screen and (max-width: 824px) {
    .app-header,
    .app-subheader {
        padding: 0 20px;
    }
}

@media screen and (max-width: 776px) {


    .d-info {
        display: none;
    }

    .d-logo {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    #lg-avatar {
        display: none;
    }

    #sm-avatar {
        display: inherit;
    }

}

@media screen and (min-width: 768px) {
    #sm-avatar {
        display: none;
    }

    #lg-avatar {
        display: inherit;
    }
}


@media screen and (max-width: 493px) {
    .menu-modal,
    .profile-modal {
        width: 353px;
    }

    .menu-modal li a {
        font-size: 26px;
    }
}

@media screen and (max-width: 536px) {

    /*.app-header .row {*/
    /*    flex-direction: column;*/
    /*    align-items: center;*/
    /*}*/
    /*.app-header .row .col:nth-child(3) {*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*}*/
    .nav-links {
        margin-top: 1.2rem;
        flex-direction: column;
        align-items: center;
    }

    .nav-links button {
        width: 12.5%;
    }

    .d-logo {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 436px) {
    .name--user span {
        display: none;
    }

    .d-sub-left .name--church {
        font-size: 14px;
        line-height: 26px;
    }
}

@media screen and (max-width: 370px) {
    .d-sub-left .name--church {
        letter-spacing: 0;
    }

    .menu-modal,
    .profile-modal {
        width: 286px;
    }

    .menu-modal li a {
        font-size: 21px;
        line-height: 42px;
    }
}

@media screen and (min-width: 644px) and (max-width: 718px) {

    .button.small {
        width: max-content;
        padding: 0;
    }
}

@media screen and (min-width: 718px) {
    .nav-links {
        margin-left: 15px;
    }
}

@media screen and (min-width: 470px) {
    #sm-title {
        display: none;
    }

    #lg-title {
        display: inherit;
    }
}

@media screen and (max-width: 470px) {
    #sm-title {
        flex-grow: 1;
        max-width: 100%;
    }

    #lg-title {
        display: none;
    }
}