.react-date-picker {
  min-width: 180px;
  height: 45px;
  color: black;
  position: relative;
}

.react-date-picker .react-date-picker__wrapper {
  width: 100%;
  transition: border-radius 138ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 138ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: transparent;
  border-radius: 8px;
  border: 1px solid lightblue;
  box-sizing: content-box;
}


.react-date-picker .react-date-picker__inputGroup .react-date-picker__inputGroup__input {
  color: rgba(0,0,0,.4);
  padding-left: 9px;
  padding-right: 9px;
  box-shadow: none;
}

.react-date-picker .react-date-picker__inputGroup .react-date-picker__inputGroup__input:invalid {
  background-color: transparent;
}

.react-date-picker .react-date-picker__inputGroup .react-date-picker__inputGroup__input__year {
    flex: 1;
}

.react-date-picker .react-date-picker__calendar-button {
  width: 42px;
  background: #00000033;
  color: #fff;
  /*border-top-right-radius: 18px;*/
  /*border-bottom-right-radius: 18px;*/
}

.react-date-picker.react-date-picker--open .react-date-picker__calendar-button {
  border-bottom-right-radius: 0px;
}

.react-date-picker .react-date-picker__calendar-button > svg {
  margin: 0 auto;
}

.react-date-picker .react-date-picker__calendar {
  z-index: 99;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-width: 280px;
}

.react-date-picker .react-date-picker__calendar .react-calendar {
  border: none;
  width: 100%;
}

.react-date-picker .react-date-picker__calendar .react-calendar__month-view__weekdays {
    color: #888888;
}

