.chip-wrapper {
  position: relative;
  text-transform: capitalize;
}

.chip-wrapper .chip {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}

.MuiIconButton-root.chip-btn {
  width: 30px;
  height: 30px;
  background-color: #ffa37c;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #fff;
  text-align: center;
  padding: 0px;
  z-index: 1;
}

.MuiIconButton-root.chip-btn:hover {
  background-color: #fab191;
}

.MuiPopover-paper.rest-chip-container {
  background: #ffa37c;
  padding: 10px;
  margin-bottom: 0;
  border-radius: 20px;
  font-size: 14px;
  text-align: left;
  line-height: 26px;
  color: #fff;
}

.MuiPopover-paper.rest-chip-container p {
  margin: 0px;
  padding: 0px;
}
